SoftwareLicenseServer/Client_test/Service References/ServiceReference/LicenseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44353/webservice/LicenseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoftwareLicenseServer.WebService.BL" />
  <xs:element name="GetAuthorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoftwareLicenseServer.WebService.BL" minOccurs="0" name="authRequest" nillable="true" type="q1:AuthRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoftwareLicenseServer.WebService.BL" minOccurs="0" name="GetAuthorizationResult" nillable="true" type="q2:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoftwareLicenseServer.WebService.BL" minOccurs="0" name="authRequest" nillable="true" type="q3:AuthRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadLicenseResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>