SoftwareLicenseServer/Client_test/Service References/ServiceReference/LicenseService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoftwareLicenseServer.WebService.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoftwareLicenseServer.WebService.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53875/webservice/LicenseService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AuthRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnersNIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnersName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthRequest" nillable="true" type="tns:AuthRequest" />
  <xs:complexType name="AuthResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Details" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthResponse" nillable="true" type="tns:AuthResponse" />
</xs:schema>